<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="container-fluid">
  <div class="container">
    <br>
    <br>
    <div class="jumbotron jumbo">
      <div class="card-header">
        <form #searchForm='ngForm' class="form-group">
            <input  class="form-control" type="text" name="name" placeholder="Search...">
            <button ><i class="fa fa-search"></i></button>
        </form>
      </div>
      <br>
        <div class="row">
          <div class="col-sm-3">
            <img *ngIf="service.users.avatar_url" src="{{service.users.avatar_url}}" alt=""><br>
            <span class="btn-default" *ngIf="service.users.login"><strong>{{service.users.login}}</strong> </span>
          </div>
          <div class="col-md-9">
            <p>
            <span class="btn btn-primary" *ngIf="service.users.login">Created on: {{service.users.created_at|date|uppercase}}</span>
            <span class="btn btn-success" *ngIf="service.users.public_repos"> Public Repos: {{service.users.public_repos}}</span>
            <span class="btn btn-danger" *ngIf="service.users.company">Company: {{service.users.company}}</span>
            </p>
            <a *ngIf="service.users.html_url" class="btn btn-info" href="{{service.users.html_url}}" target="_blank"><strong>Open all repos in git</strong> </a>
          </div>

        </div>


            <h2 class="text-center">Repositories</h2>
            <hr>
            <br>
          <div class="row row1">
            <div class="col-md-5"  *ngFor="let repo of service.repo1">
                <p *ngIf="repo.name">
                  <strong>{{repo.name}}</strong> <a id="right" class="btn btn-sm btn-outline-info" href="{{repo.html_url}}" target="_blank"><strong>View this repo in git</strong> </a>

                </p>
                <p *ngIf="repo.forks">
                  Forks: <strong>{{repo.forks}}</strong>
                </p>
            </div>
          </div>
          <br>
          <a class="btn btn-warning" href="git" id="fRight"><strong>Top</strong> </a>
          <br>
          <hr>
      <div class="card-footer">
            BlueOakTech &copy; 2020
      </div>
    </div>
  </div>
</div>
