<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="container-fluid">
  <div class="container">
    <br>
    <br>
    <div class="jumbotron jumbo">
      <div class="card-header">
        <form #searchForm='ngForm' class="form-group">
            <input  class="form-control" type="text" name="name" placeholder="Search...">
            <button ><i class="fa fa-search"></i></button>
        </form>
      </div>
        <div class="row">
          <div class="col-sm-3">
            <img *ngIf="users.avatar_url" src="{{users.avatar_url}}" alt=""><br>
            <span class="btn-primary" *ngIf="users.login"><strong>{{users.login}}{{users.created_at|dateCount}}</strong> </span>
          </div>
          <div class="col-md-9">
            <p>
            <span class="btn btn-primary" *ngIf="users.login">Created on: {{users.created_at|date|uppercase}}</span>
            <span class="btn btn-success" *ngIf="users.public_repos"> Public Repos: {{users.public_repos}}</span>
            <span class="btn btn-danger" *ngIf="users.company">Company: {{users.company}}</span>
            </p>
            <a class="btn btn-info" href="{{users.html_url}}" target="_blank"><strong>Click here to open repos in git</strong> </a>
          </div>

        </div>


            <h2 class="text-center">Repos</h2>
            <hr>
            <br>
          <div class="row row1">
            <div class="col-md-5" *ngFor="let repo of service.repo1">
                <p>
                  {{repo.name}}<a id="right" class="btn btn-sm btn-info" href="{{repo.html_url}}" target="_blank">View this repo in git</a>

                </p>
                <p>
                  Commits:
                </p>
            </div>
          </div>
      <div class="card-footer">
            BlueOakTech &copy; 2020
      </div>
    </div>
  </div>
</div>
