<div class="container-fluid">
  <div class="container">
    <br>
    <br>
    <div class="jumbotron">
      <div class="panel-body">

          <b>{{today | date:'shortTime'}}</b>
          <br>
        <h3>
          <strong>
              Github Search App is a web App that enables users
                <br>
              to search git users and their repositories by providing
                <br>
              their user names or by repository names.
         </strong>
       </h3>
      </div>
      <br>
      <div class="card-footer">
          BlueOakTech &copy; 2020
      </div>
    </div>
  </div>
</div>
